{% extends 'map/base.html' %}
{% block content %}
      {% if status %}
         <div class="card-panel {% if status == True %} red {% endif %}">
              <div class="card-content white-text">{{ text }}</div>
            </div>
      </div>
  {% endif %}
<div class="hoverable">
     <div class="col s12 m4">
     <div class="card hoverable">
         <div class="card-content">
             <span class="card-title">Upload a new GPX:</span>
             <form method="post" enctype="multipart/form-data">
             {% csrf_token %}
             {{ form.as_p }}
                 </div>
            <div class="card-action">
             <button class="btn-large brown waves-effect waves-light" type="submit">Submit <i class="material-icons right">send</i></button>
                </div>
        </form>
     </div>
     </div>
</div>
{% endblock %}