{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href=" {% static 'css/materialize.min.css'%}" media="screen,projection" />

        <link type="text/css" rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <script src="{% static 'js/leaflet.js'%}"></script>
    <script src="{% static 'js/leaflet.hotline.js' %}"></script>
    <script src="{% static 'js/Polyline.encoded.js' %}"></script>
    <script src="{% static 'js/polyline.js' %}"></script>
    <script src="{% static 'js/download.js' %}"></script>
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src="{% static 'js/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/chartjs-plugin-zoom.js' %}"></script>
    <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="brown lighten-3">
  <nav class="brown">
    <div class="nav-wrapper">
      <p><a href="#" class="brand-logo left">
        <i class="material-icons">map</i>GPXMap</a></p>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if gpxObj %}
            <li class="{% if nbar == 'chart' %} active {% endif %}"><a href="{% url 'gpx:Charts' gpxObj.pk %}">Charts</a> </li>
        {% endif %}
        <li class="{% if nbar == 'gpx' %}active {% endif %}"><a href="{% url 'gpx:Gpxlist' %}">GPX</a></li>
        <li class="{% if nbar == 'map' %}active {% endif %}"><a href="{% url 'map:Map' %}">Map</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>

</html>
